In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.options.display.max_columns = 30

np.random.seed(42)

## 1. 데이터 불러오기

In [3]:
train = pd.read_csv('data/train.csv', nrows=100000).sample(frac=1)
test = pd.read_csv('data/test.csv', nrows=10000).sample(frac=1)
train.shape, test.shape

((100000, 24), (10000, 23))

In [4]:
display(train.head(3))
display(test.head(3))

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
75721,3.926754e+18,1,14102100,1005,0,f84e52b6,d7e2f29b,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,4d7abd2c,897a315a,1,0,20346,300,250,2331,2,39,-1,23
80184,4.544182e+18,1,14102100,1005,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,8b05da43,2cd8ff6d,1,0,17037,320,50,1934,2,39,-1,16
19864,1.274445e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,f713c33c,1ccc7835,1,0,15699,320,50,1722,0,35,100083,79

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
770,10138959406967621171,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,30e85f13,779d90c2,1,0,22676,320,50,2616,0,35,-1,51
660,10118747726121039379,14103100,1005,0,f9c69707,e16ceb4b,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,2da67ccd,836d2439,1,0,20346,300,250,2331,2,39,-1,23
8041,11442412650752897120,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,928e816b,d9b5648e,0f2161f8,a99f214a,f938832d,f4fffcd0,1,0,23866,320,50,2736,0,33,100170,246

## 2. EDA

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 75721 to 15795
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                100000 non-null  float64
 1   click             100000 non-null  int64
 2   hour              100000 non-null  int64
 3   C1                100000 non-null  int64
 4   banner_pos        100000 non-null  int64
 5   site_id           100000 non-null  object
 6   site_domain       100000 non-null  object
 7   site_category     100000 non-null  object
 8   app_id            100000 non-null  object
 9   app_domain        100000 non-null  object
 10  app_category      100000 non-null  object
 11  device_id         100000 non-null  object
 12  device_ip         100000 non-null  object
 13  device_model      100000 non-null  object
 14  device_type       100000 non-null  int64
 15  device_conn_type  100000 non-null  int64
 16  C14               100000 non-null  int64
 17  C15               100000 non-null  int64
 18  C16               100000 non-null  int64
 19  C17               100000 non-null  int64
 20  C18               100000 non-null  int64
 21  C19               100000 non-null  int64
 22  C20               100000 non-null  int64
 23  C21               100000 non-null  int64
dtypes: float64(1), int64(14), object(9)
memory usage: 19.1+ MB

In [6]:
train.describe(include="all")

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,1.000000e+05,100000.000000,100000.0,100000.000000,100000.00000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
unique,NaN,NaN,NaN,NaN,NaN,893,780,16,704,55,19,7202,40376,2473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,6b9769f2,8a4875bd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,35051,35051,37696,78227,82886,78828,86935,838,6886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,9.500813e+18,0.174900,14102100.0,1005.034410,0.19830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.055730,0.199270,17682.145900,318.333960,56.818920,1964.034380,0.789350,131.734480,37874.227610,88.555670
std,5.669410e+18,0.379883,0.0,1.088741,0.40264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.583993,0.635268,3237.735265,11.931939,36.924104,394.962696,1.223761,244.076787,48546.274316,45.482841
min,3.237563e+13,0.000000,14102100.0,1001.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,375.000000,120.000000,20.000000,112.000000,0.000000,33.000000,-1.000000,13.000000
25%,4.183340e+18,0.000000,14102100.0,1005.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,15704.000000,320.000000,50.000000,1722.000000,0.000000,35.000000,-1.000000,61.000000
50%,1.074496e+19,0.000000,14102100.0,1005.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,17654.000000,320.000000,50.000000,1993.000000,0.000000,35.000000,-1.000000,79.000000
75%,1.457542e+19,0.000000,14102100.0,1005.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,20362.000000,320.000000,50.000000,2306.000000,2.000000,39.000000,100083.000000,156.000000
max,1.844670e+19,1.000000,14102100.0,1010.000000,5.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,5.000000,21705.000000,728.000000,480.000000,2497.000000,3.000000,1835.000000,100248.000000,157.000000