In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

np.random.seed(601)

import sklearn
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.preprocessing import LabelEncoder

In [2]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [3]:
data = pd.read_csv('data/201901-202003.csv')

In [ ]:
data.shape
data

In [ ]:
data.info()

In [ ]:
data.describe(include='all')

In [4]:
# 1454855     1900000
jeju_array = data.CARD_SIDO_NM == '제주'
data['AMT_JEJU'] = data['AMT']*2

In [5]:
#              129100
# 1454855     1900000
data[1454850:1454858]

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT,AMT_JEJU
1454850,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,1,4,9,340203,7,680406
1454851,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,2,4,14,810800,16,1621600
1454852,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,1,5,3,130220,2,260440
1454853,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,2,5,6,284800,6,569600
1454854,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,70s,2,5,5,129100,5,258200
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,1900000,4,3800000
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,1300000,2,2600000
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,438000,3,876000

In [7]:
data.loc[jeju_array, 'AMT'] = data.loc[jeju_array, 'AMT_JEJU']

In [8]:
#              129100
# 1454855     1900000
data[1454850:1454858]

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT,AMT_JEJU
1454850,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,1,4,9,340203,7,680406
1454851,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,2,4,14,810800,16,1621600
1454852,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,1,5,3,130220,2,260440
1454853,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,2,5,6,284800,6,569600
1454854,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,70s,2,5,5,129100,5,258200
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,3800000,4,3800000
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,2600000,2,2600000
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,876000,3,876000

In [9]:
data = data.drop(['AMT_JEJU'], axis=1)

In [10]:
#              129100
# 1454855     1900000
data[1454850:1454858]

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
1454850,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,1,4,9,340203,7
1454851,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,50s,2,4,14,810800,16
1454852,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,1,5,3,130220,2
1454853,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,60s,2,5,6,284800,6
1454854,201901,전북,진안군,화장품 및 방향제 소매업,전북,진안군,70s,2,5,5,129100,5
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,3800000,4
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,2600000,2
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,876000,3

In [11]:
# 날짜 처리

data = data.fillna('')
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)

In [ ]:
data.head()

In [12]:
# 데이터 정제
df = data.copy()
df = df.drop(['CARD_CCG_NM', 'HOM_CCG_NM'], axis=1)

columns = ['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'year', 'month']
df = df.groupby(columns).sum().reset_index(drop=False)

In [13]:
# 인코딩
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df_num = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df_num[column] = encoder.transform(df[column])

LabelEncoder()

LabelEncoder()

LabelEncoder()

LabelEncoder()

In [14]:
# feature, target 설정
train_num = df_num.sample(frac=1, random_state=0)
x = train_num.drop(['CSTMR_CNT', 'AMT', 'CNT'], axis=1)
y = np.log1p(train_num['AMT'])

In [15]:
k = int(len(x)*0.9)
k

951654

In [16]:
x_train = x[:k]
y_train = y[:k]
x_val = x[k:]
y_val = y[k:]

In [17]:
import lightgbm as lgb
from lightgbm import LGBMRegressor

In [18]:
train_ds = lgb.Dataset(x_train, label=y_train)
val_ds = lgb.Dataset(x_val, label=y_val)

In [ ]:
def rmsle(y, pred):
    log_y = np.log1p(y)
    log_pred = np.log1p(pred)
    squared_error = (log_y - log_pred) ** 2
    rmsle = np.sqrt(np.mean(squared_error))
    return rmsle

In [19]:
params = {
            'learning_rate' : 0.05,
            'boosting_type': 'gbdt',
            'objective': 'tweedie',
            'tweedie_variance_power': 1.1,
            'metric': 'rmse',
            'sub_row' : 0.75,
            'lambda_l2' : 0.1
        }

In [20]:
model = lgb.train(params,
                  train_ds,
                  1000,
                  val_ds,
                  verbose_eval = 100,
                  early_stopping_rounds = 100
                 )

Training until validation scores don't improve for 100 rounds
[100]	valid_0's rmse: 1.97521
[200]	valid_0's rmse: 1.77617
[300]	valid_0's rmse: 1.64521
[400]	valid_0's rmse: 1.56458
[500]	valid_0's rmse: 1.49631
[600]	valid_0's rmse: 1.44702
[700]	valid_0's rmse: 1.40046
[800]	valid_0's rmse: 1.35858
[900]	valid_0's rmse: 1.32462
[1000]	valid_0's rmse: 1.28837
Did not meet early stopping. Best iteration is:
[1000]	valid_0's rmse: 1.28837

In [21]:
# 예측 템플릿 만들기
CARD_SIDO_NMs = df_num['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = df_num['STD_CLSS_NM'].unique()
HOM_SIDO_NMs  = df_num['HOM_SIDO_NM'].unique()
AGEs          = df_num['AGE'].unique()
SEX_CTGO_CDs  = df_num['SEX_CTGO_CD'].unique()
FLCs          = df_num['FLC'].unique()
years         = [2020]
months        = [4, 7]

temp = []
for CARD_SIDO_NM in CARD_SIDO_NMs:
    for STD_CLSS_NM in STD_CLSS_NMs:
        for HOM_SIDO_NM in HOM_SIDO_NMs:
            for AGE in AGEs:
                for SEX_CTGO_CD in SEX_CTGO_CDs:
                    for FLC in FLCs:
                        for year in years:
                            for month in months:
                                temp.append([CARD_SIDO_NM, STD_CLSS_NM, HOM_SIDO_NM, AGE, SEX_CTGO_CD, FLC, year, month])
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=x.columns)

In [ ]:
temp

In [22]:
# 예측
pred = model.predict(temp)
pred = np.expm1(pred)
temp['AMT'] = np.round(pred, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp = temp.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

In [23]:
# 디코딩 
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [24]:
# 제출 파일 만들기
submission = pd.read_csv('data/submission.csv', index_col=0)
submission = submission.drop(['AMT'], axis=1)
submission = submission.merge(temp, left_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission.index.name = 'id'
submission.to_csv('20200705_2.csv', encoding='utf-8-sig')
submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  2.286027e+08
1     202004           강원               골프장 운영업  1.569757e+09
2     202004           강원           과실 및 채소 소매업  6.335656e+08
3     202004           강원     관광 민예품 및 선물용품 소매업  6.258829e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  3.379881e+07