In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

np.random.seed(601)

import sklearn
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.preprocessing import LabelEncoder

In [2]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [141]:
data = pd.read_csv('data/201901-202003.csv')

In [3]:
# 날짜 처리


data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)

In [6]:
data = data.fillna('')

In [36]:
df03 = data[data['REG_YYMM'] == 202003]
df03

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
23437284,202003,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,6,2529000,6
23437285,202003,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,10,1133650,9
23437286,202003,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,2,3,3,570800,3
23437287,202003,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,1,4,25,4192828,25
23437288,202003,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,2,4,21,3358900,24
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [56]:
df02 = data[data['REG_YYMM'] == 202002]
df02

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
22098304,202002,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,3,335000,3
22098305,202002,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,3,149000,3
22098306,202002,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,2,3,6,502200,6
22098307,202002,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,1,4,22,4973500,23
22098308,202002,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,2,4,16,2489494,14
...,...,...,...,...,...,...,...,...,...,...,...,...
23437279,202002,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,62000,3
23437280,202002,충북,충주시,휴양콘도 운영업,충북,충주시,40s,2,3,3,172000,4
23437281,202002,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,12,399000,12
23437282,202002,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,13,504100,16
23437283,202002,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,6,142000,6

In [109]:
df01 = data[data['REG_YYMM'] == 202001]
df01

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
20425415,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,2,1,3,345000,3
20425416,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,3,1903450,3
20425417,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,14,1520500,15
20425418,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,9,1239200,9
20425419,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,606700,4
...,...,...,...,...,...,...,...,...,...,...,...,...
22098299,202001,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,4,8,108000,9
22098300,202001,충북,충주시,휴양콘도 운영업,충북,충주시,40s,2,3,8,219000,13
22098301,202001,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,17,923000,21
22098302,202001,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,15,432600,21
22098303,202001,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,185000,3

In [37]:
df03.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC', 'HOM_SIDO_NM','CNT','CSTMR_CNT'], axis=1, inplace=True)
df03

          REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
23437284    202003           강원  건강보조식품 소매업  2529000
23437285    202003           강원  건강보조식품 소매업  1133650
23437286    202003           강원  건강보조식품 소매업   570800
23437287    202003           강원  건강보조식품 소매업  4192828
23437288    202003           강원  건강보조식품 소매업  3358900
...            ...          ...         ...      ...
24697787    202003           충북    휴양콘도 운영업    43300
24697788    202003           충북    휴양콘도 운영업    35000
24697789    202003           충북    휴양콘도 운영업   188000
24697790    202003           충북    휴양콘도 운영업    99000
24697791    202003           충북    휴양콘도 운영업   194000

[1260508 rows x 4 columns]

In [57]:
df02.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC', 'HOM_SIDO_NM','CNT','CSTMR_CNT'], axis=1, inplace=True)
df02

          REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
22098304    202002           강원  건강보조식품 소매업   335000
22098305    202002           강원  건강보조식품 소매업   149000
22098306    202002           강원  건강보조식품 소매업   502200
22098307    202002           강원  건강보조식품 소매업  4973500
22098308    202002           강원  건강보조식품 소매업  2489494
...            ...          ...         ...      ...
23437279    202002           충북    휴양콘도 운영업    62000
23437280    202002           충북    휴양콘도 운영업   172000
23437281    202002           충북    휴양콘도 운영업   399000
23437282    202002           충북    휴양콘도 운영업   504100
23437283    202002           충북    휴양콘도 운영업   142000

[1338980 rows x 4 columns]

In [110]:
df01.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC', 'HOM_SIDO_NM','CNT','CSTMR_CNT'], axis=1, inplace=True)
df01

          REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
20425415    202001           강원  건강보조식품 소매업   345000
20425416    202001           강원  건강보조식품 소매업  1903450
20425417    202001           강원  건강보조식품 소매업  1520500
20425418    202001           강원  건강보조식품 소매업  1239200
20425419    202001           강원  건강보조식품 소매업   606700
...            ...          ...         ...      ...
22098299    202001           충북    휴양콘도 운영업   108000
22098300    202001           충북    휴양콘도 운영업   219000
22098301    202001           충북    휴양콘도 운영업   923000
22098302    202001           충북    휴양콘도 운영업   432600
22098303    202001           충북    휴양콘도 운영업   185000

[1672889 rows x 4 columns]

In [38]:
columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
df03 = df03.groupby(columns).sum().reset_index(drop=False)
df03

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202003           강원             건강보조식품 소매업     96059012
1      202003           강원                골프장 운영업   2915797995
2      202003           강원            과실 및 채소 소매업    994816943
3      202003           강원      관광 민예품 및 선물용품 소매업     13317300
4      202003           강원        그외 기타 스포츠시설 운영업      2075000
..        ...          ...                    ...          ...
604    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
605    202003           충북                한식 음식점업  16152482704
606    202003           충북                    호텔업     15248550
607    202003           충북          화장품 및 방향제 소매업    428881434
608    202003           충북               휴양콘도 운영업     12733490

[609 rows x 4 columns]

In [58]:
columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
df02 = df02.groupby(columns).sum().reset_index(drop=False)
df02

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202002           강원             건강보조식품 소매업     76505561
1      202002           강원                골프장 운영업    968456455
2      202002           강원            과실 및 채소 소매업    867214360
3      202002           강원      관광 민예품 및 선물용품 소매업     16375500
4      202002           강원        그외 기타 스포츠시설 운영업      5065100
..        ...          ...                    ...          ...
618    202002           충북  피자 햄버거 샌드위치 및 유사 음식점업   1192384613
619    202002           충북                한식 음식점업  17338883142
620    202002           충북                    호텔업     11516930
621    202002           충북          화장품 및 방향제 소매업    495012925
622    202002           충북               휴양콘도 운영업     47085830

[623 rows x 4 columns]

In [111]:
columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
df01 = df01.groupby(columns).sum().reset_index(drop=False)
df01

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202001           강원             건강보조식품 소매업    185008768
1      202001           강원                골프장 운영업   1241102011
2      202001           강원            과실 및 채소 소매업   1576556551
3      202001           강원      관광 민예품 및 선물용품 소매업     30152545
4      202001           강원        그외 기타 스포츠시설 운영업      4625300
..        ...          ...                    ...          ...
623    202001           충북  피자 햄버거 샌드위치 및 유사 음식점업   1346898412
624    202001           충북                한식 음식점업  21533310974
625    202001           충북                    호텔업     41329850
626    202001           충북          화장품 및 방향제 소매업    564909717
627    202001           충북               휴양콘도 운영업    222073112

[628 rows x 4 columns]

In [123]:
dfall = data.copy()
dfall.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC', 'HOM_SIDO_NM','CNT','CSTMR_CNT'], axis=1, inplace=True)
dfall

          REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
0           201901           강원  건강보조식품 소매업   311200
1           201901           강원  건강보조식품 소매업  1374500
2           201901           강원  건강보조식품 소매업   818700
3           201901           강원  건강보조식품 소매업  1717000
4           201901           강원  건강보조식품 소매업  1047300
...            ...          ...         ...      ...
24697787    202003           충북    휴양콘도 운영업    43300
24697788    202003           충북    휴양콘도 운영업    35000
24697789    202003           충북    휴양콘도 운영업   188000
24697790    202003           충북    휴양콘도 운영업    99000
24697791    202003           충북    휴양콘도 운영업   194000

[24697792 rows x 4 columns]

In [124]:
columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
dfall = dfall.groupby(columns).sum().reset_index(drop=False)
dfall

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0       201901           강원             건강보조식품 소매업    148354746
1       201901           강원                골프장 운영업   1229200312
2       201901           강원            과실 및 채소 소매업   1286979106
3       201901           강원      관광 민예품 및 선물용품 소매업     30656770
4       201901           강원        그외 기타 스포츠시설 운영업     13101500
...        ...          ...                    ...          ...
9433    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
9434    202003           충북                한식 음식점업  16152482704
9435    202003           충북                    호텔업     15248550
9436    202003           충북          화장품 및 방향제 소매업    428881434
9437    202003           충북               휴양콘도 운영업     12733490

[9438 rows x 4 columns]

In [125]:
columns = ['CARD_SIDO_NM', 'STD_CLSS_NM']
dfall = dfall.groupby(columns).mean().reset_index(drop=False)
dfall

    CARD_SIDO_NM            STD_CLSS_NM  REG_YYMM           AMT
0             강원             건강보조식품 소매업  201925.6  1.213883e+08
1             강원                골프장 운영업  201925.6  3.419392e+09
2             강원            과실 및 채소 소매업  201925.6  1.111699e+09
3             강원      관광 민예품 및 선물용품 소매업  201925.6  3.048080e+07
4             강원   그외 기타 분류안된 오락관련 서비스업  201905.0  1.770000e+05
..           ...                    ...       ...           ...
645           충북  피자 햄버거 샌드위치 및 유사 음식점업  201925.6  1.419611e+09
646           충북                한식 음식점업  201925.6  2.180969e+10
647           충북                    호텔업  201925.6  3.539429e+07
648           충북          화장품 및 방향제 소매업  201925.6  6.116993e+08
649           충북               휴양콘도 운영업  201925.6  1.609825e+08

[650 rows x 4 columns]

In [126]:
dfall.drop(['REG_YYMM'], axis=1, inplace=True)
dfall

    CARD_SIDO_NM            STD_CLSS_NM           AMT
0             강원             건강보조식품 소매업  1.213883e+08
1             강원                골프장 운영업  3.419392e+09
2             강원            과실 및 채소 소매업  1.111699e+09
3             강원      관광 민예품 및 선물용품 소매업  3.048080e+07
4             강원   그외 기타 분류안된 오락관련 서비스업  1.770000e+05
..           ...                    ...           ...
645           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.419611e+09
646           충북                한식 음식점업  2.180969e+10
647           충북                    호텔업  3.539429e+07
648           충북          화장품 및 방향제 소매업  6.116993e+08
649           충북               휴양콘도 운영업  1.609825e+08

[650 rows x 3 columns]

In [ ]:
# 데이터 정제
df = data.copy()
df = df.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC'], axis=1)

columns = ['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'year', 'month']
df = df.groupby(columns).sum().reset_index(drop=False)

In [ ]:
df

In [ ]:
# 인코딩
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df_num = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df_num[column] = encoder.transform(df[column])

In [ ]:
# feature, target 설정
train_num = df_num.sample(frac=1, random_state=0)
x = train_num.drop(['CSTMR_CNT', 'AMT', 'CNT'], axis=1)
y = np.log1p(train_num['AMT'])

In [ ]:
k = int(len(x)*0.9)

In [ ]:
x_train = x[:k]
y_train = y[:k]
x_val = x[k:]
y_val = y[k:]

In [ ]:
import lightgbm as lgb

In [ ]:
train_ds = lgb.Dataset(x_train, label=y_train)
val_ds = lgb.Dataset(x_val, label=y_val)

In [ ]:
params = {
            'learning_rate' : 0.05,
            'boosting_type': 'gbdt',
            'objective': 'tweedie',
            'tweedie_variance_power': 1.1,
            'metric': 'rmse',
            'sub_row' : 0.75,
            'lambda_l2' : 0.1
        }

In [ ]:
model = lgb.train(params,
                  train_ds,
                  1000,
                  val_ds,
                  verbose_eval = 100,
                  early_stopping_rounds = 100
                 )

In [ ]:
# 예측 템플릿 만들기
CARD_SIDO_NMs = df_num['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = df_num['STD_CLSS_NM'].unique()
HOM_SIDO_NMs  = df_num['HOM_SIDO_NM'].unique()
#AGEs          = df_num['AGE'].unique()
#SEX_CTGO_CDs  = df_num['SEX_CTGO_CD'].unique()
#FLCs          = df_num['FLC'].unique()
years         = [2020]
months        = [4, 7]

temp = []
for CARD_SIDO_NM in CARD_SIDO_NMs:
    for STD_CLSS_NM in STD_CLSS_NMs:
        for HOM_SIDO_NM in HOM_SIDO_NMs:
            #for AGE in AGEs:
                #for SEX_CTGO_CD in SEX_CTGO_CDs:
                    #for FLC in FLCs:
            for year in years:
                for month in months:
                    temp.append([CARD_SIDO_NM, STD_CLSS_NM, HOM_SIDO_NM, year, month]) # , AGE, SEX_CTGO_CD, FLC
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=x.columns)

In [ ]:
temp

In [ ]:
# 예측
pred = model.predict(temp)
pred = np.expm1(pred)
temp['AMT'] = np.round(pred, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp = temp.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

In [ ]:
# 디코딩 
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [112]:
df14 = df01.copy()
df17 = df01.copy()
df14['REG_YYMM'] = 202004
df17['REG_YYMM'] = 202007
temp1 = pd.concat([df14, df17])
temp1

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업    185008768
1      202004           강원                골프장 운영업   1241102011
2      202004           강원            과실 및 채소 소매업   1576556551
3      202004           강원      관광 민예품 및 선물용품 소매업     30152545
4      202004           강원        그외 기타 스포츠시설 운영업      4625300
..        ...          ...                    ...          ...
623    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업   1346898412
624    202007           충북                한식 음식점업  21533310974
625    202007           충북                    호텔업     41329850
626    202007           충북          화장품 및 방향제 소매업    564909717
627    202007           충북               휴양콘도 운영업    222073112

[1256 rows x 4 columns]

In [63]:
df24 = df02.copy()
df27 = df02.copy()
df24['REG_YYMM'] = 202004
df27['REG_YYMM'] = 202007
temp2 = pd.concat([df24, df27])
temp2

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업     76505561
1      202004           강원                골프장 운영업    968456455
2      202004           강원            과실 및 채소 소매업    867214360
3      202004           강원      관광 민예품 및 선물용품 소매업     16375500
4      202004           강원        그외 기타 스포츠시설 운영업      5065100
..        ...          ...                    ...          ...
618    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업   1192384613
619    202007           충북                한식 음식점업  17338883142
620    202007           충북                    호텔업     11516930
621    202007           충북          화장품 및 방향제 소매업    495012925
622    202007           충북               휴양콘도 운영업     47085830

[1246 rows x 4 columns]

In [39]:
df04 = df03.copy()
df07 = df03.copy()

In [23]:
df04

      REG_YYMM CARD_SIDO_NM STD_CLSS_NM HOM_SIDO_NM        AMT
0       202004           강원  건강보조식품 소매업          강원   95919012
1       202004           강원  건강보조식품 소매업          경기     140000
2       202004           강원     골프장 운영업          강원  573702940
3       202004           강원     골프장 운영업          경기  779892900
4       202004           강원     골프장 운영업          경북   12518650
...        ...          ...         ...         ...        ...
5953    202004           충북    휴양콘도 운영업          경기    2170050
5954    202004           충북    휴양콘도 운영업          서울    6830430
5955    202004           충북    휴양콘도 운영업          세종     354000
5956    202004           충북    휴양콘도 운영업          인천      88250
5957    202004           충북    휴양콘도 운영업          충북    3137560

[5958 rows x 5 columns]

In [40]:
df04['REG_YYMM'] = 202004
df07['REG_YYMM'] = 202007

In [41]:
temp = pd.concat([df04, df07])
temp

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업     96059012
1      202004           강원                골프장 운영업   2915797995
2      202004           강원            과실 및 채소 소매업    994816943
3      202004           강원      관광 민예품 및 선물용품 소매업     13317300
4      202004           강원        그외 기타 스포츠시설 운영업      2075000
..        ...          ...                    ...          ...
604    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
605    202007           충북                한식 음식점업  16152482704
606    202007           충북                    호텔업     15248550
607    202007           충북          화장품 및 방향제 소매업    428881434
608    202007           충북               휴양콘도 운영업     12733490

[1218 rows x 4 columns]

In [131]:
df04a = dfall.copy()
df04a['REG_YYMM'] = 202004
df07a = dfall.copy()
df07a['REG_YYMM'] = 202007
tempa = pd.concat([df04a, df07a])
tempa

    CARD_SIDO_NM            STD_CLSS_NM           AMT  REG_YYMM
0             강원             건강보조식품 소매업  1.213883e+08    202004
1             강원                골프장 운영업  3.419392e+09    202004
2             강원            과실 및 채소 소매업  1.111699e+09    202004
3             강원      관광 민예품 및 선물용품 소매업  3.048080e+07    202004
4             강원   그외 기타 분류안된 오락관련 서비스업  1.770000e+05    202004
..           ...                    ...           ...       ...
645           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.419611e+09    202007
646           충북                한식 음식점업  2.180969e+10    202007
647           충북                    호텔업  3.539429e+07    202007
648           충북          화장품 및 방향제 소매업  6.116993e+08    202007
649           충북               휴양콘도 운영업  1.609825e+08    202007

[1300 rows x 4 columns]

In [101]:
submission = pd.read_csv('data/submission.csv', index_col=0)
submission = submission.drop(['AMT'], axis=1)
submission

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM
id
0       202004           강원             건강보조식품 소매업
1       202004           강원                골프장 운영업
2       202004           강원            과실 및 채소 소매업
3       202004           강원      관광 민예품 및 선물용품 소매업
4       202004           강원   그외 기타 분류안된 오락관련 서비스업
...        ...          ...                    ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업
1390    202007           충북                한식 음식점업
1391    202007           충북                    호텔업
1392    202007           충북          화장품 및 방향제 소매업
1393    202007           충북               휴양콘도 운영업

[1394 rows x 3 columns]

In [102]:
# 제출 파일 만들기
submission = submission.merge(temp, left_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission.index.name = 'id'
submission

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  9.605901e+07
1       202004           강원                골프장 운영업  2.915798e+09
2       202004           강원            과실 및 채소 소매업  9.948169e+08
3       202004           강원      관광 민예품 및 선물용품 소매업  1.331730e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업           NaN
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.315245e+09
1390    202007           충북                한식 음식점업  1.615248e+10
1391    202007           충북                    호텔업  1.524855e+07
1392    202007           충북          화장품 및 방향제 소매업  4.288814e+08
1393    202007           충북               휴양콘도 운영업  1.273349e+07

[1394 rows x 4 columns]

In [96]:
temp
temp2

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업     96059012
1      202004           강원                골프장 운영업   2915797995
2      202004           강원            과실 및 채소 소매업    994816943
3      202004           강원      관광 민예품 및 선물용품 소매업     13317300
4      202004           강원        그외 기타 스포츠시설 운영업      2075000
..        ...          ...                    ...          ...
604    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
605    202007           충북                한식 음식점업  16152482704
606    202007           충북                    호텔업     15248550
607    202007           충북          화장품 및 방향제 소매업    428881434
608    202007           충북               휴양콘도 운영업     12733490

[1218 rows x 4 columns]

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0      202004           강원             건강보조식품 소매업     76505561
1      202004           강원                골프장 운영업    968456455
2      202004           강원            과실 및 채소 소매업    867214360
3      202004           강원      관광 민예품 및 선물용품 소매업     16375500
4      202004           강원        그외 기타 스포츠시설 운영업      5065100
..        ...          ...                    ...          ...
618    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업   1192384613
619    202007           충북                한식 음식점업  17338883142
620    202007           충북                    호텔업     11516930
621    202007           충북          화장품 및 방향제 소매업    495012925
622    202007           충북               휴양콘도 운영업     47085830

[1246 rows x 4 columns]

In [103]:
sub02 = pd.read_csv('data/submission.csv', index_col=0)
sub02 = sub02.drop(['AMT'], axis=1)
sub02

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM
id
0       202004           강원             건강보조식품 소매업
1       202004           강원                골프장 운영업
2       202004           강원            과실 및 채소 소매업
3       202004           강원      관광 민예품 및 선물용품 소매업
4       202004           강원   그외 기타 분류안된 오락관련 서비스업
...        ...          ...                    ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업
1390    202007           충북                한식 음식점업
1391    202007           충북                    호텔업
1392    202007           충북          화장품 및 방향제 소매업
1393    202007           충북               휴양콘도 운영업

[1394 rows x 3 columns]

In [104]:
sub02 = sub02.merge(temp2, left_on=['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
sub02.index.name = 'id'
sub02

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  7.650556e+07
1       202004           강원                골프장 운영업  9.684565e+08
2       202004           강원            과실 및 채소 소매업  8.672144e+08
3       202004           강원      관광 민예품 및 선물용품 소매업  1.637550e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업           NaN
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.192385e+09
1390    202007           충북                한식 음식점업  1.733888e+10
1391    202007           충북                    호텔업  1.151693e+07
1392    202007           충북          화장품 및 방향제 소매업  4.950129e+08
1393    202007           충북               휴양콘도 운영업  4.708583e+07

[1394 rows x 4 columns]

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  1.850088e+08
1       202004           강원                골프장 운영업  1.241102e+09
2       202004           강원            과실 및 채소 소매업  1.576557e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  3.015254e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업           NaN
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.346898e+09
1390    202007           충북                한식 음식점업  2.153331e+10
1391    202007           충북                    호텔업  4.132985e+07
1392    202007           충북          화장품 및 방향제 소매업  5.649097e+08
1393    202007           충북               휴양콘도 운영업  2.220731e+08

[1394 rows x 4 columns]

In [132]:
suba = pd.read_csv('data/submission.csv', index_col=0)
suba = suba.drop(['AMT'], axis=1)
suba = suba.merge(tempa, left_on=['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
suba.index.name = 'id'
suba

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  1.213883e+08
1       202004           강원                골프장 운영업  3.419392e+09
2       202004           강원            과실 및 채소 소매업  1.111699e+09
3       202004           강원      관광 민예품 및 선물용품 소매업  3.048080e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  1.770000e+05
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.419611e+09
1390    202007           충북                한식 음식점업  2.180969e+10
1391    202007           충북                    호텔업  3.539429e+07
1392    202007           충북          화장품 및 방향제 소매업  6.116993e+08
1393    202007           충북               휴양콘도 운영업  1.609825e+08

[1394 rows x 4 columns]

In [105]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([   4,   14,   15,   30,   35,   45,   55,   71,   96,  110,
            ...
            1326, 1342, 1347, 1357, 1365, 1367, 1368, 1376, 1381, 1383],
           dtype='int64', name='id', length=176)

In [107]:
submission.loc[idx, 'AMT'] = sub02.loc[idx, 'AMT']

In [114]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([   4,   30,   55,   71,   96,  112,  127,  135,  137,  153,
            ...
            1286, 1326, 1342, 1347, 1357, 1365, 1368, 1376, 1381, 1383],
           dtype='int64', name='id', length=142)

In [115]:
submission.loc[idx, 'AMT'] = sub01.loc[idx, 'AMT']

In [133]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([   4,   30,   55,   71,   96,  112,  127,  137,  153,  168,
            ...
            1244, 1276, 1286, 1326, 1342, 1347, 1357, 1368, 1376, 1383],
           dtype='int64', name='id', length=128)

In [134]:
submission.loc[idx, 'AMT'] = suba.loc[idx, 'AMT']

In [135]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([  30,   55,   71,   96,  112,  137,  153,  168,  178,  194,  204,
             209,  217,  235,  245,  250,  258,  260,  261,  276,  281,  286,
             291,  332,  368,  381,  383,  384,  392,  397,  399,  404,  407,
             409,  422,  440,  450,  455,  466,  491,  522,  537,  547,  589,
             629,  660,  686,  727,  752,  768,  793,  809,  834,  850,  865,
             875,  891,  901,  906,  914,  932,  942,  947,  955,  957,  958,
             973,  978,  983,  988, 1029, 1065, 1078, 1080, 1081, 1089, 1094,
            1096, 1101, 1104, 1106, 1119, 1137, 1147, 1152, 1163, 1188, 1219,
            1234, 1244, 1286, 1326, 1357, 1383],
           dtype='int64', name='id')

In [136]:
submission[submission.AMT.isnull() == True]

      REG_YYMM CARD_SIDO_NM           STD_CLSS_NM  AMT
id
30      202004           강원             정기 항공 운송업  NaN
55      202004           경기                   면세점  NaN
71      202004           경기             정기 항공 운송업  NaN
96      202004           경남                   면세점  NaN
112     202004           경남             정기 항공 운송업  NaN
...        ...          ...                   ...  ...
1244    202007           전북                   면세점  NaN
1286    202007           제주                버스 운송업  NaN
1326    202007           충남                   면세점  NaN
1357    202007           충북  그외 기타 분류안된 오락관련 서비스업  NaN
1383    202007           충북             정기 항공 운송업  NaN

[94 rows x 4 columns]

In [142]:
cond1 = data.CARD_SIDO_NM == '경기'
cond2 = data.STD_CLSS_NM == '면세점'
data[cond1 & cond2]

Empty DataFrame
Columns: [REG_YYMM, CARD_SIDO_NM, CARD_CCG_NM, STD_CLSS_NM, HOM_SIDO_NM, HOM_CCG_NM, AGE, SEX_CTGO_CD, FLC, CSTMR_CNT, AMT, CNT]
Index: []

In [146]:
cond1 = data.CARD_SIDO_NM == '강원'
cond2 = data.STD_CLSS_NM == '정기 항공 운송업'
data[cond1 & cond2]

Empty DataFrame
Columns: [REG_YYMM, CARD_SIDO_NM, CARD_CCG_NM, STD_CLSS_NM, HOM_SIDO_NM, HOM_CCG_NM, AGE, SEX_CTGO_CD, FLC, CSTMR_CNT, AMT, CNT]
Index: []

In [144]:
submission.fillna(0)
submission

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  9.605901e+07
1       202004           강원                골프장 운영업  2.915798e+09
2       202004           강원            과실 및 채소 소매업  9.948169e+08
3       202004           강원      관광 민예품 및 선물용품 소매업  1.331730e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  1.770000e+05
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.315245e+09
1390    202007           충북                한식 음식점업  1.615248e+10
1391    202007           충북                    호텔업  1.524855e+07
1392    202007           충북          화장품 및 방향제 소매업  4.288814e+08
1393    202007           충북               휴양콘도 운영업  1.273349e+07

[1394 rows x 4 columns]

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
id
0       202004           강원             건강보조식품 소매업  9.605901e+07
1       202004           강원                골프장 운영업  2.915798e+09
2       202004           강원            과실 및 채소 소매업  9.948169e+08
3       202004           강원      관광 민예품 및 선물용품 소매업  1.331730e+07
4       202004           강원   그외 기타 분류안된 오락관련 서비스업  1.770000e+05
...        ...          ...                    ...           ...
1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  1.315245e+09
1390    202007           충북                한식 음식점업  1.615248e+10
1391    202007           충북                    호텔업  1.524855e+07
1392    202007           충북          화장품 및 방향제 소매업  4.288814e+08
1393    202007           충북               휴양콘도 운영업  1.273349e+07

[1394 rows x 4 columns]

In [147]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([  30,   55,   71,   96,  112,  137,  153,  168,  178,  194,  204,
             209,  217,  235,  245,  250,  258,  260,  261,  276,  281,  286,
             291,  332,  368,  381,  383,  384,  392,  397,  399,  404,  407,
             409,  422,  440,  450,  455,  466,  491,  522,  537,  547,  589,
             629,  660,  686,  727,  752,  768,  793,  809,  834,  850,  865,
             875,  891,  901,  906,  914,  932,  942,  947,  955,  957,  958,
             973,  978,  983,  988, 1029, 1065, 1078, 1080, 1081, 1089, 1094,
            1096, 1101, 1104, 1106, 1119, 1137, 1147, 1152, 1163, 1188, 1219,
            1234, 1244, 1286, 1326, 1357, 1383],
           dtype='int64', name='id')

In [150]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1394 entries, 0 to 1393
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   REG_YYMM      1394 non-null   int64
 1   CARD_SIDO_NM  1394 non-null   object
 2   STD_CLSS_NM   1394 non-null   object
 3   AMT           1394 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 94.5+ KB

In [152]:
cond1 = submission.CARD_SIDO_NM == '강원'
cond2 = submission.STD_CLSS_NM == '정기 항공 운송업'
submission[cond1 & cond2]

     REG_YYMM CARD_SIDO_NM STD_CLSS_NM  AMT
id
30     202004           강원   정기 항공 운송업  0.0
727    202007           강원   정기 항공 운송업  0.0

In [156]:
idx = submission[submission.AMT == 0.1].index
idx

Int64Index([  30,   55,   71,   96,  112,  137,  153,  168,  178,  194,  204,
             209,  217,  235,  245,  250,  258,  260,  261,  276,  281,  286,
             291,  332,  368,  381,  383,  384,  392,  397,  399,  404,  407,
             409,  422,  440,  450,  455,  466,  491,  522,  537,  547,  589,
             629,  660,  686,  727,  752,  768,  793,  809,  834,  850,  865,
             875,  891,  901,  906,  914,  932,  942,  947,  955,  957,  958,
             973,  978,  983,  988, 1029, 1065, 1078, 1080, 1081, 1089, 1094,
            1096, 1101, 1104, 1106, 1119, 1137, 1147, 1152, 1163, 1188, 1219,
            1234, 1244, 1286, 1326, 1357, 1383],
           dtype='int64', name='id')

In [157]:
submission.loc[idx, 'AMT'] = 1.0

In [158]:
submission.to_csv('20200707_2.csv', encoding='utf-8-sig')
submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  9.605901e+07
1     202004           강원               골프장 운영업  2.915798e+09
2     202004           강원           과실 및 채소 소매업  9.948169e+08
3     202004           강원     관광 민예품 및 선물용품 소매업  1.331730e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  1.770000e+05